@model QuickCat.ModelView.CustomerViewModel
@using QuickCat.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageProducts</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @Styles.Render("~/Content/ManageProduct")

</head>
<body>
    <div>
        <br />
        <form action="SearchProductsByField" method="post">
            Enter to search <input id="Text1" class = "form-control" name="txtProductName" type="text"  />
            <select class="form-control" name="ProductField">
                <option value="Name">Name</option>
                <option value="PetType">Pet's type</option>
                <option value="Category">Category</option>
                <option value="Price">Price</option>
                <option value="Description">Description</option>
            </select>
            <input class="form-control" id="Submit1" type="submit" value="Search products" />
        </form>
        <br />

        @Html.Partial("ProductsList", Model)
    </div>
</body>
</html>

