@model QuickCat.ModelView.CustomerViewModel
@using QuickCat.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageProducts</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @Styles.Render("~/Content/css")


</head>
<body>

    <h1>Choose what you want to do</h1>

    <div id="buttons">
        <form action="EditProducts">
            <input class="btn btn-default" type="submit" value="Edit Products" />
        </form>
        <form action="AddProducts">
            <input class="btn btn-default" type="submit" value="Add new products" />
        </form>
    </div>
</body>
</html>

