@model QuickCat.ModelView.CustomerViewModel

<div class="container">
    <div class="well well-sm">
        <strong>Our products</strong>

        @*<div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>*@
    </div>

    @Html.Partial("Catalog", Model)
</div>
